- edit ||= false
- collapsed = (@party.errors.empty? && session[:party_contact].nil?)
= subtitle :party_contact, collapsed, t(:contact_info)
.section
  %small#party_contact_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:party_small)) unless edit
  #party_contact{ hidden_if(collapsed) }
    %table
      %tr
        %td{ :colspan => 3 }
          contact info




