%table#claims_table
  %thead
    %tr
      %th.number Nr
      %th.description Behandelaar
      %th.date Incidentdatum
  %tbody
    = render :partial => 'remote_resources/claim', :collection => @party.claims