%table#contracts_table
  %thead
    %tr
      %th.number Nr
      %th.description Omschrijving
      %th.description Pakket
      %th.date Expiratiedatum
  %tbody
    = render :partial => 'remote_resources/contract', :collection => @party.contracts