%table#invoices_table
  %thead
    %tr
      %th.number Nr
      %th.amount Bedrag
      %th.date Factuurdatum
  %tbody
    = render :partial => 'remote_resources/invoice', :collection => @party.invoices